*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'poppins', sans-serif;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
}
h2{
    font-size: 1.8rem;
    font-weight: 600;
}
h3{  
    font-size: 1.4rem;
    font-weight: 800;}
h4{
    font-size: 1.1rem;
    font-weight: 600;
}
h5{
    font-size: 1rem;
    font-weight: 400;
    color: #1d1d1d;
}
h6{
    color: #D8D8D8;
}
button{
    font-size: 0.8rem;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 13px 30px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background-color: #3a3833;
}

.navbar {
    font-size: 16px;
    top: 0;
    left: 0;
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: black;
    transition: 0.3s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar i:active{
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 7px;
    cursor:pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.navbar-toggler-icon:hover,
.navbar-toggler-icon:active{
    color: #fff;
}
@media only screen and (max-width:991px) {
    body>nav>div>button:hover,
    body>nav>div>button:focus {
        background:#fb774b;
    }
    #navbarSupportedContent > ul{
        margin: 1rem;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right;
    }
    #navbarSupportedContent > ul > li:nth-child(n) > a{
        padding: 10px 0;
    }

    
}
/* mobile nav */
.navbar-light .navbar-toggler{
    border: none;
    outline: none;
}
.navbar-toggler-icon{
    font-size: 1.5rem;
    padding: 0 7px;
    cursor: pointer;
    transition: 0.3s ease;
    color: black;
}

#home{
    background-image: url(images/background.jpeg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 60px center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color: coral;
}

